@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>BearWebShop</h3>

<img src="~/Images/MrBear.jpg" height="300" />
<br />
<h4>BearWebShop is a new WebShop created by the amazing Bjørn Werner from Denmark! </h4>
<h4>Here you can buy a variation of products for a beary fair price!</h4> 
